body, ul, li {
    margin: 0;
    padding: 0;
    list-style: circle;
}


header {
    background-color: #00ff00;
    color: #00ffbb;
    text-align: center;
    padding: 10px;
}


nav {
    background-color: #9fba09;
    padding: 10px;
}

ul.nav-list {
    display: flex;
    justify-content: center;
}

li.nav-item {
    margin: 0 20px;
}

a.nav-link {
    text-decoration: none;
    color: #a81f1f;
}


.content-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.relative-box {
    position: relative;
    background-color: #00ff88;
    width: 300px;
    height: 200px;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
}

.absolute-box {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ff006a;
    width: 150px;
    height: 150px;
    text-align: center;
    padding: 10px;
}

.fixed-box {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #5d00ff;
    width: 150px;
    height: 100px;
    text-align: center;
    padding: 10px;
}